<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CrawlzillaV2.1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>to oper DBs</description>
    <display-name>dbOperation</display-name>
    <servlet-name>dbOperation</servlet-name>
    <servlet-class>nchc.fslab.crawlzilla.servlet.dbOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbOperation</servlet-name>
    <url-pattern>/dbopera.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Crawl Job</description>
    <display-name>crawl job</display-name>
    <servlet-name>crawlJob</servlet-name>
    <servlet-class>nchc.fslab.crawlzilla.servlet.crawlJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crawlJob</servlet-name>
    <url-pattern>/crawljob.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>User Login</description>
    <display-name>User Login</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>nchc.fslab.crawlzilla.servlet.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Change Service</description>
    <display-name>Change Service</display-name>
    <servlet-name>changeService</servlet-name>
    <servlet-class>nchc.fslab.crawlzilla.servlet.changeService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeService</servlet-name>
    <url-pattern>/changeService.do</url-pattern>
  </servlet-mapping>
</web-app>